--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
fastapi
uvicorn
requests
python-dotenv
google-genai
pymupdf
python-docx
chromadb
langchain-huggingface
sentence-transformers
torch==2.7.1+cpu
torchvision==0.22.1+cpu
langchain-text-splitters